{
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017
  },
  "plugins": [
    "html",
    "import",
    "jest"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "build/webpack.base.js"
      }
    }
  },
  "env": {
    "jest": true
  },
  "globals": {
    "URL": true,
    "MODE": true,
    "API": true,
    "API_VERSION": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:vue/base",
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/extensions": ["off"],
    "import/no-unresolved": "error",
    "import/no-unassigned-import": [
      "error", {
        "allow": [
          "@/promisePolyfill",
          "webpack-dev-server/client?/",
          "webpack/hot/dev-server",
          "flexboxgrid/css/flexboxgrid.min.css",
          "vue-croppa/dist/vue-croppa.css",
          "babel-register",
          "@/store"
        ]
      }
    ],
    "no-tabs": ["off"],
    "indent": ["error", "tab", {"SwitchCase": 1}],
    "unicorn/filename-case": ["off", {"case": "camelCase"}],
    "brace-style": ["error", "allman"],
    "keyword-spacing": ["error", {
      "before": true, "after": false, "overrides": {
        "from": {"before": true, "after": true},
        "import": {"after": true},
        "case": {"after": true},
        "return": {"after": true},
        "const": {"after": true},
        "let": {"after": true},
        "export": {"after": true}
      }
    }],
    "linebreak-style": ["off"],
    "lines-around-comment": ["off"],
    "max-len": ["error", 300, 4, {"ignoreUrls": true, "ignoreComments": true, "ignorePattern": "^import\\s.+\\sfrom\\s.+;$"}],
    "padding-line-between-statements": ["off", { "blankLine": "always", "prev": "var", "next": "return" }],
    "no-console": ["off", {"allow": ["warn", "error"]}],
    "no-inline-comments": ["off"],
    "one-var": ["error", {"var": "always", "let": "always", "const": "never"}],
    "no-shadow": ["off"],
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["off"],
    "arrow-parens": ["error", "always"],
    "arrow-body-style": ["off"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "prefer-destructuring": ["error",
      {
        "VariableDeclarator": {
          "array": true,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "global-require": ["off"],
    "import/no-dynamic-require": ["off"],
    "class-methods-use-this": ["off"],
    "no-underscore-dangle": ["off"],
    "object-curly-newline": ["error", { "consistent": true}]
  }
}
